<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsj-shYsG4Vf-Te-om6G-jbA81oNw8FOc</string>
	<key>GCM_SENDER_ID</key>
	<string>794740633526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goggxi.resepObat400.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>goggxi-project-42b54</string>
	<key>STORAGE_BUCKET</key>
	<string>goggxi-project-42b54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794740633526:ios:844332e91dbfae88f69b17</string>
</dict>
</plist>